#
# ABench project - ignored files list
#

# Visual Studio precompiled headers
/ipch

# Visual Studio intermediate projects' directories
/Obj

# Output dir and files
/Bin

# Common name for build directory
/build

# Visual Studio
*.vsp
*.psess
/.vs

# Junction links to dependencies
/Deps/fbxsdk
/Deps/freeimage

# Other useless folders and file patterns
*.opensdf
*.opendb
*.sdf
*.suo
*.vcxproj.user
*.VC.db
*.spv
log.txt
