#
# ABench project - ignored files list
#

# Visual Studio precompiled headers
/ipch

# Output/cache dirs and files
/Bin
/Obj
/Data/ShaderCache

# Common name for build directory
/build-*

# Visual Studio
*.vsp
*.psess
/.vs

# Junction links to dependencies
/Deps/fbxsdk
/Deps/freeimage

# Other useless folders and file patterns
*.opensdf
*.opendb
*.sdf
*.suo
*.vcxproj.user
*.VC.db
*.spv
log.txt
/Data/Textures
/Temporary
build
/Deps/glslang/bin
/Deps/glslang/include
/Visual Studio 2017
/Visual Studio 2017Templates
